h1 
{
  text-align: center;
}

h3
{
  text-align: center;
}

body
  {
	background-color: #F4D2ED;
	font-family: Arial;
	}
h2 
{
	text-align: center;
	align-content: center;
}

td
{
	border: 1px solid black ;
}
th
{
	width: 400px;

}
table
{
	border: 1px solid black;
	padding: 4;
	text-align: center;
	
}

nav{
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
}
}

.violet
{
	background-color: #DB0CDB;
}
.blue
{
	background-color: #1AB2D8;
}

.dark_blue
{
	background-color: #0005E7
}

.red
{
	background-color: red;
}
.orange
{
	background-color: orange;
}
.yellow
{
	background-color: yellow;
}
.green
{
	background-color: green;
}


footer
{
    height: 50px;
    background-color: #FAB8E0;
}

header
{
	height: 120px;
	background-color: #FAB8E0;
	

}
.logo
{
	float: left;
	width: 90px;
	height: 90px;
    border-radius: 5px;
    box-shadow: 0 0 7px #666;
}
#hd
{
	background-color:  #FAB8E0 ;
	font-size: 25px;
	font-family: Arial;
	
}
.cont
{
	margin-top:20px;
	margin-bottom: 10px;	
	padding:10px;
	
	background-color: #F4D2ED;
}

 .center
 {
 	margin: auto; 	
 }


.logo_b{	
	padding-top: 5px;
	font-size: 30px;
	display: flex;
}
}


#fd{
	display: flex;
	flex-direction: column-reverse;
}
.table{
	order: 3;
}

img {
display: inline-block;
height: auto;
max-width: 100%;
}

@media screen and (min-width:900px)

{


.logo_b{
	margin: 0 auto;
	width: 960px;	
	font-size: 30px;
	display: flex;
}

#fd{
	display: flex;
	flex-direction:column;
	
}
.cont{
	background-color: #EBADF4
}

}